<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Holly Template</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <header class="site-header">
            <div class="container">
                <div class="site-header-large-bg"><span></span></div>
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
                            <a href="#">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
                        <div class="hero-copy">
                            <div class="container-sm">
                                {% if slink %}
                                    <h2 class="hero-title h2-mobile mt-0 is-revealing">Converted link is:</h1>
                                    <h4 class="hero-paragraph" style="color: blue"><a href="{{vlink}}">{{ slink }}</a></h4>
                                {% endif %}
                                <h1 class="hero-title h2-mobile mt-0 is-revealing">Enter full/short link</h1>
                                <p class="hero-paragraph is-revealing">Enter full link to be shortified or <br/>shortened link to obtain full link</p>
                                <div class="hero-form newsletter-form field field-grouped is-revealing">
                                    <div class="control control-expanded">
                                        <form action="http://localhost:5001" method="POST">
                                            <input class="input" type="text" name="inputlink" placeholder="Enter link here">
                                    </div>
                                    <div class="control">
                                        <input type="submit" class="button button-primary button-block button-shadow">
                                    </div>
                                        </form>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

    </div>

    <script src="{{ url_for('static',filename='main.min.js') }}"></script>
</body>
</html>
